.auth-login, .auth-register {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  form {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  }
}