.navbar {
  .navbar-brand {
    img {
      object-fit: contain;
      max-width: 120px;
      min-height: 50px;
      max-height: 50px;
    }
  }
  .navbar-nav {
    .nav-item {
      a {
        &:hover {
          font-weight: bold;
          color: $primary-blue-color;
          border-bottom: 3px solid $primary-blue-color;
        }; 
      }
    }
  }
}