.navbar {
  .navbar-brand {
    img {
      object-fit: contain;
      max-width: 120px;
      min-height: 50px;
      max-height: 50px;
    }
  }
  .navbar-nav {
    .nav-item {
      a {
        &:hover {
          button {
            background-color: $primary-blue-color;
          }
        }; 
      }
    }
  }
}
