.stats-container {
  position: relative;
  margin-top: -115px;
  @media only screen and (max-width: $small-devices-max) {
    margin-top: 0;
  }
  @media only screen and (min-width: $large-devices-min) {
    max-width: 100%
  }
  .stats-display {
    min-height: 200px;
    justify-content: flex-end;
    div:last-child {
      margin-right: 0;
    }
    @media only screen and (max-width: $large-devices-min) {
      justify-content: center;
    }
    .counter-holder {
      text-align: center;
      border-radius: 10%;
      padding: 5px;
      margin-right: 20px;
      width: 250px;
      img {
        width: 50px;
        min-height: 60px;
      }
      .counter {
        font-weight: 900;
      }
      .counter-title {
        @media only screen and (max-width: $small-devices-max) {
          min-height: 50px;
        }
      }
    }
  }
}
