.testimonial-section {
  background-color: #f0f5f9;
  .quote-container {
    .img-rounded {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
    .quote-text {
      text-align: left;
    }
  }
}